extends layout
block content
  h1.
    !{mood} trip to !{city}, !{state} with $!{money}

  h2.
    Restaurants
  ul
    each user, i in restaurantlist
      li= user.name

  h2.
    Attractions
  ul
    each attraction, i in attractionlist
      li= attraction.name


  h2.
    Hotel
  ul
    each hotel, i in hotellist
      li= hotel.name

  |How well did the overall trip match your mood?     
  input#Element1(type="radio", value='1' name="RadioGroup", checked=false)
  |1  
  input#Element2(type="radio", name="RadioGroup", checked=true)
  |2  
  input#Element3(type="radio", name="RadioGroup", checked=false)
  |3  
  input#Element4(type="radio", name="RadioGroup", checked=false)
  |4  
  input#Element5(type="radio", name="RadioGroup", checked=false)
  |5  
  br
  |How well did the restaurants match your mood?      
  input#Element1(type="radio", value='1' name="RadioGroup", checked=false)
  |1  
  input#Element2(type="radio", name="RadioGroup", checked=true)
  |2  
  input#Element3(type="radio", name="RadioGroup", checked=false)
  |3  
  input#Element4(type="radio", name="RadioGroup", checked=false)
  |4  
  input#Element5(type="radio", name="RadioGroup", checked=false)
  |5
  br  
  |How well did the hotel match your mood?      
  input#Element1(type="radio", value='1' name="RadioGroup", checked=false)
  |1  
  input#Element2(type="radio", name="RadioGroup", checked=true)
  |2  
  input#Element3(type="radio", name="RadioGroup", checked=false)
  |3  
  input#Element4(type="radio", name="RadioGroup", checked=false)
  |4  
  input#Element5(type="radio", name="RadioGroup", checked=false)
  |5 
  br 
  |How well did the attractions match your mood?
  input#Element1(type="radio", value='1' name="RadioGroup", checked=false)
  |1  
  input#Element2(type="radio", name="RadioGroup", checked=true)
  |2  
  input#Element3(type="radio", name="RadioGroup", checked=false)
  |3  
  input#Element4(type="radio", name="RadioGroup", checked=false)
  |4  
  input#Element5(type="radio", name="RadioGroup", checked=false)
  |5  
  br
  |How well did the price match your budget?
  input#Element1(type="radio", value='1' name="RadioGroup", checked=false)
  |1  
  input#Element2(type="radio", name="RadioGroup", checked=true)
  |2  
  input#Element3(type="radio", name="RadioGroup", checked=false)
  |3  
  input#Element4(type="radio", name="RadioGroup", checked=false)
  |4  
  input#Element5(type="radio", name="RadioGroup", checked=false)
  |5  


  
