extends layout
block content
  h1.
    !{mood} trip to !{city}, !{state} with $!{money}

  h2.
    Restaurants
  ul
    each user, i in restaurantlist
      li= user.name

  h2.
    Attractions
  ul
    each attraction, i in attractionlist
      li= attraction.name


  h2.
    Hotel
  ul
    each hotel, i in hotellist
      li= hotel.name

  div(id='map', style='width:100%; height:500px; position:"absolute"')

  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBoVd2ZjQYOF-zqqAC1-llMfLF7nuT7Sw8&libraries=places')
  script.
    var displayMap;
    var service;
    var test = "test";

    function initialise() { 
      displayMap = new google.maps.Map(document.getElementById('map'), {
        center: {lat: #{latitude}, lng: #{longitude}},
        zoom: 15 });

      showRestaurants();
      showAttractions();
      showHotel();
    }

    google.maps.event.addDomListener(window, 'load', initialise);

    function showRestaurants() {
      console.log(!{JSON.stringify(restaurantlist)});
      var restaurants = !{JSON.stringify(restaurantlist)};
      for(var i = 0; i < restaurants.length; i++) {
        var place = restaurants[i];
        createMarker(place, displayMap, 'http://maps.google.com/mapfiles/kml/pal2/icon32.png');
      }
    }

    function showAttractions() {
      console.log(!{JSON.stringify(attractionlist)});
      var attractions = !{JSON.stringify(attractionlist)};
      for(var i = 0; i < attractions.length; i++) {
        var place = attractions[i];
        createMarker(place, displayMap, 'http://maps.google.com/mapfiles/kml/pal4/icon38.png');
      }
    }

    function showHotel() {
      console.log(!{JSON.stringify(hotellist)});
      var hotels = !{JSON.stringify(hotellist)};
      for(var i = 0; i < hotels.length; i++) {
        var place = hotels[i];
        createMarker(place, displayMap, 'http://maps.google.com/mapfiles/kml/pal2/icon20.png');
      }
    }

    function createMarker(place, map, iconType) {
      var placeLoc = place.geometry;
      var marker = new google.maps.Marker({
        map: map,
        position: placeLoc,
        animation: google.maps.Animation.DROP,
        icon: iconType
      });

      var infowindow = new google.maps.InfoWindow();
      google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(place.name);
        infowindow.open(map, this);
      });
    }

  |How well did the overall trip match your mood?     
  input#Element1(type="radio", value='1' name="RadioGroup", checked=false)
  |1  
  input#Element2(type="radio", name="RadioGroup", checked=true)
  |2  
  input#Element3(type="radio", name="RadioGroup", checked=false)
  |3  
  input#Element4(type="radio", name="RadioGroup", checked=false)
  |4  
  input#Element5(type="radio", name="RadioGroup", checked=false)
  |5  
  br
  |How well did the restaurants match your mood?      
  input#Element1(type="radio", value='1' name="RadioGroup", checked=false)
  |1  
  input#Element2(type="radio", name="RadioGroup", checked=true)
  |2  
  input#Element3(type="radio", name="RadioGroup", checked=false)
  |3  
  input#Element4(type="radio", name="RadioGroup", checked=false)
  |4  
  input#Element5(type="radio", name="RadioGroup", checked=false)
  |5
  br  
  |How well did the hotel match your mood?      
  input#Element1(type="radio", value='1' name="RadioGroup", checked=false)
  |1  
  input#Element2(type="radio", name="RadioGroup", checked=true)
  |2  
  input#Element3(type="radio", name="RadioGroup", checked=false)
  |3  
  input#Element4(type="radio", name="RadioGroup", checked=false)
  |4  
  input#Element5(type="radio", name="RadioGroup", checked=false)
  |5 
  br 
  |How well did the attractions match your mood?
  input#Element1(type="radio", value='1' name="RadioGroup", checked=false)
  |1  
  input#Element2(type="radio", name="RadioGroup", checked=true)
  |2  
  input#Element3(type="radio", name="RadioGroup", checked=false)
  |3  
  input#Element4(type="radio", name="RadioGroup", checked=false)
  |4  
  input#Element5(type="radio", name="RadioGroup", checked=false)
  |5  
  br
  |How well did the price match your budget?
  input#Element1(type="radio", value='1' name="RadioGroup", checked=false)
  |1  
  input#Element2(type="radio", name="RadioGroup", checked=true)
  |2  
  input#Element3(type="radio", name="RadioGroup", checked=false)
  |3  
  input#Element4(type="radio", name="RadioGroup", checked=false)
  |4  
  input#Element5(type="radio", name="RadioGroup", checked=false)
  |5


  form#formAutoRate(name="autorate",method="post",action="/autorate")
    input(type="hidden" name="subscores" value="#{bestTrip.subscores}")
    input(type="hidden" name="overallScore" value="#{bestTrip.overallScore}")
    input(type="hidden" name="mood" value="#{mood}")
    input(type="hidden" name="weights" value="#{weights}")
    button#btnSubmit(type="submit") Auto-Rate

  
